.NavItemHover :hover {
    color:#1d6a6e !important;
}


.Nav {
    /* position fixed works magically with ui kit navbar */
    position: fixed !important;   
    margin: 0 0 4px 0;
    -webkit-box-shadow: 0px 15px 68px -11px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 15px 68px -11px rgba(0,0,0,0.76);
    box-shadow: 0px 15px 68px -11px rgba(0,0,0,0.76);
}
.active{
    color: #1d6a6e !important;  
}  

.uk-navbar-nav>li>a :hover {
    color: #1d6a6e !important;
}

.uk-navbar-nav>li.uk-active>a {
    color: #1d6a6e !important;
}

.uk-offcanvas-bar{
    background: #1d6a6e !important;
    color: white !important;
}

.transparent{
    opacity:1;
}