.footer{
    background: #1d6a6e;
}

.footer-item{
    color:white;
}

.footer-item>h3 {
    color: white;
    font-size: large;
}

.insta :hover{
    color: #1E478B;
}

.facebook :hover{
    color: #9A428A ;
}

.twitter :hover{
    color: #45B4DE;
}