.footer {
  background: #1d6a6e;
}

.footer-item {
  color: white;
}

.footer-item > h3 {
  color: white;
  font-size: large;
}

.footer-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1%;
}
