html, * {
  
  font-family: barlow-black, barlow-black-italic, barlow-bold, barlow-extra-bold, barlow-semi-bold, barlow-medium, barlow-medium-italic, barlow-italic, barlow-regular !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  margin:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



